<html>
<head>
<title>home Page</title>
<style>
	html, body{
		background-color: skyblue;
		height: 100%;
		color: #fff;
	}

</style>
</head>
<body>
<h1>
welcome to my profile of <%= person %>
</h1>
<p><strong> Age: </strong> <%= data.age %></p>
<p><strong> Job: </strong> <%= data.job %></p>
<h2>Hobbies:</h2>
<ul>
	<% data.hobbies.forEach(function(item){ %>
		<li><%= item %></li>
	<% }); %>
</ul>
</body>
</html>